.invman-slot {
  width: 84px;
  height: 72px;

  border-radius: 10px;
  background-color: rgba(40, 40, 52, 0.65);
  border: 2px solid rgba(255, 255, 255, 0.12);

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  margin-right: 8px;
  pointer-events: all;
}


.invman-slot.has-item {
  background-color: rgba(56, 56, 80, 0.95);
}

.invman-slot.hover {
  border-color: rgba(255, 220, 120, 0.9);
}


.invman-slot .slot-icon {
  width: 72px;
  height: 72px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  pointer-events: none;
}

.invman-slot.type-hands .slot-icon {
  background-image: url("/ui/icons/hands.png");
  opacity: 1;
}

.invman-slot.type-stellium .slot-icon { background-image: url("/ui/icons/stellium.png"); }
.invman-slot.type-plasma   .slot-icon { background-image: url("/ui/icons/plasma.png"); }
.invman-slot.type-alloy    .slot-icon { background-image: url("/ui/icons/alloy.png"); }
.invman-slot.type-generic  .slot-icon { background-image: url("/ui/icons/item.png"); }

.slot-stack {
  position: absolute;
  top: 6px;
  left: 10px;

  font-size: 14px;
  font-weight: 800;

  color: rgba(160, 210, 255, 0.95);
  text-shadow: 0 0 6px rgba(90, 150, 255, 0.35);

  pointer-events: none;
}

.invman-slot.locked {
  pointer-events: none;
  opacity: 0.65;
  background-color: rgba(40, 40, 52, 0.30);
  border-color: rgba(255, 255, 255, 0.10);
}
