.fullscreen { position: absolute; left: 0; right: 0; top: 0; bottom: 0; }
.hud-root { pointer-events: none; }

.hp {
	position: absolute;
	left: 38%;
	bottom: 25px;
	width: 200px;
	height: 20px;

	background-color: rgba(0, 0, 0, 0.6);
	overflow: hidden;

	/* ✅ arrondi track */
	border-radius: 6px; /* au lieu de 999px */
}

.hp-fill {
	height: 100%;
	width: 0%;

	background-color: #e53935;
	transition: width 0.1s linear;

	/* ✅ arrondi fill */
	border-radius: 6px;
}
